# LEARNIG PANDAS PART 3

adding new column into an existing column

In [12]:
import pandas as pd

a = pd.read_excel("titanic.xls", sheet_name="no heading", names=["Naam", "Umar", "Siksha", "Pata", "Current Address", "Charitra"])

a["Race"] = "Human"         # it will assign "Human" value to all the rows in the column "Race"
print(a, '\n')

# if you want to add multiple values you can do this
a["Gender"] = ["M", "F", "F", "M"]
print(a, '\n')

       Naam  Umar      Siksha        Pata Current Address     Charitra   Race
0      aman    22  Graduation  Naikenpali      Naikenpali     CARELESS  Human
1  utkalika    19  Graduation  Naikenpali      Naikenpali     CARELESS  Human
2    shruti    22  Graduation  Dungripali             SBP  INTELLIGENT  Human
3      Anil    29  Graduation  Bhagitikra      Bhagitikra   PERSUASIVE  Human

       Naam  Umar      Siksha        Pata Current Address     Charitra   Race  \
0      aman    22  Graduation  Naikenpali      Naikenpali     CARELESS  Human
1  utkalika    19  Graduation  Naikenpali      Naikenpali     CARELESS  Human
2    shruti    22  Graduation  Dungripali             SBP  INTELLIGENT  Human
3      Anil    29  Graduation  Bhagitikra      Bhagitikra   PERSUASIVE  Human

  Gender
0      M
1      F
2      F
3      M

In [ ]:
b = pd.read_excel("titanic.xls", sheet_name="survivors")
b["age * 2"] = b["age"] * 2     # multiplying 2 with all the numeric values of column "age"
# you can do more type of manupulations
print(b, '\n')

# making a new column as newAge and only printing the age which are above 22
data = b
newCol = data["age"].where(data["age"] > 22)
data["newAge"] = newCol

print(data, '\n')

      Names  age   education        from current city character type  age * 2
0      jeet   25     Masters  Naikenpali         BBSR         SHADOW       50
1      aman   22  Graduation  Naikenpali   Naikenpali       CARELESS       44
2  utkalika   19  Graduation  Naikenpali   Naikenpali       CARELESS       38
3    shruti   22  Graduation  Dungripali          SBP    INTELLIGENT       44
4      Anil   29  Graduation  Bhagitikra   Bhagitikra     PERSUASIVE       58

      Names  age   education        from current city character type  age * 2  \
0      jeet   25     Masters  Naikenpali         BBSR         SHADOW       50
1      aman   22  Graduation  Naikenpali   Naikenpali       CARELESS       44
2  utkalika   19  Graduation  Naikenpali   Naikenpali       CARELESS       38
3    shruti   22  Graduation  Dungripali          SBP    INTELLIGENT       44
4      Anil   29  Graduation  Bhagitikra   Bhagitikra     PERSUASIVE       58

   newAge
0    25.0
1     NaN
2     NaN
3     NaN
4    29.0

Dataset info

In [ ]:
# unique -- will print only unique values stored in row, will remove the values which are being repeated
print(b["from"].unique(),  '\n')

# value_counts() -- will print the number of times each value is being repeated
print(b["education"].value_counts(),  '\n')

# corr -- co-relation  [this can only be applied to the data that contains numbers only]
c = pd.read_excel("titanic.xls", sheet_name="nums")
print(c.corr(), '\n')

# info -- will print all the info ragarding the table
print(c.info(),  '\n')

# describe
print(c.describe(),  '\n')

# printing column names which holds integer data type
data1 = c.dtypes[c.dtypes == 'int64']           # will print line by line
data2 = c.dtypes[c.dtypes == 'int64'].index     # will print in array
print(data1,  '\n')
print(data2,  '\n')

# groupby
print(b.groupby("education"))

['Naikenpali' 'Dungripali' 'Bhagitikra']

education
Graduation    4
Masters       1
Name: count, dtype: int64

          ROW 1      ROW 2     ROW 3
ROW 1   1.000000  1.000000  0.878785
ROW 2   1.000000  1.000000  0.878785
ROW 3   0.878785  0.878785  1.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ROW 1   15 non-null     int64
 1   ROW 2   15 non-null     int64
 2   ROW 3   15 non-null     int64
dtypes: int64(3)
memory usage: 492.0 bytes
None

          ROW 1        ROW 2        ROW 3
count  15.000000   15.000000    15.000000
mean    8.000000   88.000000  1888.400000
std     4.472136   49.193496  2110.245037
min     1.000000   11.000000   111.000000
25%     4.500000   49.500000   499.500000
50%     8.000000   88.000000   888.000000
75%    11.500000  126.500000  2777.500000
max    15.000000  165.000000  6666.000000

ROW 1     int64
ROW 2     int64
ROW 3     int64
dtype: object

Index(['ROW 1 ', 'ROW 2', 'ROW 3'], dtype='object')

             age                                                 age * 2  \
           count  mean       std   min    25%   50%    75%   max   count
education
Graduation   4.0  23.0  4.242641  19.0  21.25  22.0  23.75  29.0     4.0
Masters      1.0  25.0       NaN  25.0  25.00  25.0  25.00  25.0     1.0

                  ...             newAge                                    \
            mean  ...   75%   max  count  mean std   min   25%   50%   75%
education         ...
Graduation  46.0  ...  47.5  58.0    1.0  29.0 NaN  29.0  29.0  29.0  29.0
Masters     50.0  ...  50.0  50.0    1.0  25.0 NaN  25.0  25.0  25.0  25.0


             max
education
Graduation  29.0
Masters     25.0

[2 rows x 24 columns]