In [4]:
import pandas as pd

data = [
    ["Amit", 25, "HR"],
    ["Priya", 28, "Finance"],
    ["Rahul", 22, "IT"],
    ["Sneha", 30, "Admin"]
]


a = pd.DataFrame(data, columns=["name", "age", "department"])
a

    name  age department
0   Amit   25         HR
1  Priya   28    Finance
2  Rahul   22         IT
3  Sneha   30      Admin

In [ ]:
n = ["apple", "grape", "orange", "mago"]
col = ["red", "green", "orange", "yellow"]
val = [11,22,33,44]

dict = {
    'fruit' : n,
    'color' : col,
    'value' : val
}

b = pd.DataFrame(dict)
b

    fruit   color  value
0   apple     red     11
1   grape   green     22
2  orange  orange     33
3    mago  yellow     44

converting existing data into a csv file

In [6]:
b.to_csv("This is a new csv file.csv", index=False)    # just try writing true here and you will see the changes in the file