# creating a dataframe

In [1]:
import pandas as pd

data = [
    ["Amit", 25, "HR"],
    ["Priya", 28, "Finance"],
    ["Rahul", 22, "IT"],
    ["Sneha", 30, "Admin"]
]


a = pd.DataFrame(data, columns=["Name", "Age", "Department"])
a

    Name  Age Department
0   Amit   25         HR
1  Priya   28    Finance
2  Rahul   22         IT
3  Sneha   30      Admin