## Feature Scaling

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [36]:
# feature scaling is a technique to standardize the independent features present in the data in a fixed range

""" 
2 types of feature scaling

1/ Standardization
2/ Normalization
    i/ MinMax
    ii/ Roubust scaler, etc


"""

' \n2 types of feature scaling\n\n1/ Standardization\n2/ Normalization\n    i/ MinMax\n    ii/ Roubust scaler, etc\n\n\n'

### Standardizatioin

In [37]:
# this is also called z-score Normalization

df = pd.read_csv('Social_Network_Ads.csv')
df = df.iloc[:, 2:]
df.sample(5)

     Age  EstimatedSalary  Purchased
158   26            30000          0
68    22            63000          0
50    24            32000          0
27    47            30000          1
218   46            96000          0

In [38]:
# train test split

x_train, x_test, y_train, y_test = train_test_split(df.drop('Purchased', axis=1), 
                                                    df['Purchased'], 
                                                    test_size=0.3, 
                                                    random_state=0)

# df.drop('Purchased', axis=1) → gives only the independent variables (inputs), ang then deletes the data. If you dont put axis=1, it will the delete the rows by default
# df['Purchased'] → gives the dependent variable (output/label).

x_train.shape, x_test.shape

((280, 2), (120, 2))

In [39]:
# StandardScaler

scaler = StandardScaler()

# using scaler of train set
scaler.fit(x_train)

# transforming training and test sets
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

scaler.mean_        # this is the mean of age and salary

array([3.78642857e+01, 6.98071429e+04])

In [40]:
""" 
fit() → learns the parameters (e.g., mean and standard deviation for StandardScaler) from the data.
It does not change the data.

transform() → uses the parameters already learned (from fit()) to scale or modify the data.

fit_transform() → runs both steps together: first fit(), then immediately transform() on the same data.

"""

' \nfit() → learns the parameters (e.g., mean and standard deviation for StandardScaler) from the data.\nIt does not change the data.\n\ntransform() → uses the parameters already learned (from fit()) to scale or modify the data.\n\nfit_transform() → runs both steps together: first fit(), then immediately transform() on the same data.\n\n'

In [42]:
x_train_scaled = pd.DataFrame(x_train_scaled, columns=x_train.columns)
x_test_scaled = pd.DataFrame(x_test_scaled, columns=x_test.columns)

np.round(x_train.describe(), )

         Age  EstimatedSalary
count  280.0            280.0
mean    38.0          69807.0
std     10.0          34641.0
min     18.0          15000.0
25%     30.0          43000.0
50%     37.0          70500.0
75%     46.0          88000.0
max     60.0         150000.0