In [5]:
import pandas as pd
pd.read_csv("ambitionbox_companies data.csv")

,Description,Highly_rated_for,Critically_rated_for
0,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits"
1,IT Services & Consulting | 1 Lakh+ Employees |...,"Company Culture, Skill Development / Learning,...",NaN
2,IT Services & Consulting | 1 Lakh+ Employees |...,Skill Development / Learning,Promotions / Appraisal
3,IT Services & Consulting | 1 Lakh+ Employees |...,Job Security,"Promotions / Appraisal, Salary & Benefits"
4,IT Services & Consulting | 1 Lakh+ Employees |...,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits"
...,...,...,...
9995,IT Services & Consulting | 501-1k Employees | ...,"Work Life Balance, Salary & Benefits, Company ...",NaN
9996,Pharma | 201-500 Employees | 14 years old | Pr...,"Work Life Balance, Work Satisfaction, Company ...",NaN
9997,Building Material | 51-200 Employees | 17 year...,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN
9998,Law Enforcement & Security | 51-200 Employees ...,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN
9999,Management Consulting | 201-500 Employees | 19...,"Work Life Balance, Job Security, Company Culture",NaN

In [37]:
import pandas as pd

df = pd.read_csv("ambitionbox_companies data.csv")

# Initialize lists for each column
total_employees = []
company_type = []
year_old = []

for i in df['Description']:
    if pd.notna(i):  # Check if not NaN
        parts = str(i).split('|')
        
        # Extract part 2 (index 1) - TOTAL EMPLOYEES
        total_employees.append(parts[1].strip() if len(parts) > 1 else None)
        
        # Extract part 3 (index 2) - COMPANY TYPE
        company_type.append(parts[2].strip() if len(parts) > 2 else None)
        
        # Extract part 4 (index 3) - YEAR OLD
        year_old.append(parts[3].strip() if len(parts) > 3 else None)
    else:
        total_employees.append(None)
        company_type.append(None)
        year_old.append(None)

# Store in new columns
df['TOTAL EMPLOYEES'] = total_employees
df['COMPANY TYPE'] = company_type
df['YEAR OLD'] = year_old

# View the result
print(df[['Description', 'TOTAL EMPLOYEES', 'COMPANY TYPE', 'YEAR OLD']].head())

# Save to CSV
df.to_csv("ambitionbox_companies data2.csv", index=False)

                                         Description    TOTAL EMPLOYEES  \
0  IT Services & Consulting | 1 Lakh+ Employees |...  1 Lakh+ Employees
1  IT Services & Consulting | 1 Lakh+ Employees |...  1 Lakh+ Employees
2  IT Services & Consulting | 1 Lakh+ Employees |...  1 Lakh+ Employees
3  IT Services & Consulting | 1 Lakh+ Employees |...  1 Lakh+ Employees
4  IT Services & Consulting | 1 Lakh+ Employees |...  1 Lakh+ Employees

         COMPANY TYPE      YEAR OLD
0              Public  56 years old
1              Public  35 years old
2  Forbes Global 2000  30 years old
3              Public  79 years old
4              Public  57 years old