#### Importing few columns from another file

In [1]:
import pandas as pd

a = pd.read_csv("ambitionbox_companies.csv")
a

,COMPANY NAME,RATING,REVIEWS,INDUSTRY,INDIA HQ,BRANCHES,PACKAGE,Highly_rated_for,Critically_rated_for
0,TCS,3.4,(1.1L),IT Services & Consulting,Bangalore / Bengaluru,430 other locations,9.4L,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits"
1,Accenture,3.7,(67.9k),IT Services & Consulting,Bangalore / Bengaluru,245 other locations,6.3L,"Company Culture, Skill Development / Learning,...",NaN
2,Wipro,3.7,(60.9k),IT Services & Consulting,Bangalore / Bengaluru,367 other locations,4.6L,Skill Development / Learning,Promotions / Appraisal
3,Cognizant,3.7,(57.8k),IT Services & Consulting,Hyderabad / Secunderabad,224 other locations,5.8L,Job Security,"Promotions / Appraisal, Salary & Benefits"
4,Capgemini,3.7,(49.5k),IT Services & Consulting,Bangalore / Bengaluru,180 other locations,4.6L,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits"
...,...,...,...,...,...,...,...,...,...
9995,Signet Industries,2.6,-101,Indore +20 other locations,NaN,NaN,418,"Work Life Balance, Salary & Benefits, Company ...",NaN
9996,MSP Group,3.9,-101,Raigarh +13 other locations,NaN,NaN,390,"Work Life Balance, Work Satisfaction, Company ...",NaN
9997,Government of Gujarat,3.8,-101,Government,Ahmedabad,34 other locations,524,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN
9998,Textron,3.8,-101,Engineering & Construction,Bangalore / Bengaluru,6 other locations,624,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN
9999,Pro-Vigil,3.2,-101,Law Enforcement & Security,Visakhapatnam,2 other locations,348,"Work Life Balance, Job Security, Company Culture",NaN

In [ ]:
b = pd.read_csv("ambitionbox_companies data2.csv")

a = pd.concat([a, b], ignore_index=True)

a.to_csv('top_10000_indian_companies_complete_data_2025.csv', index=False)